body {
	font-family: "Roboto", sans-serif;
	background-color: #371E57
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 5px;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

.block {
	background-color: # F7F7F7;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 99%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 50px;
	float: center;
}

.buttontype1 {
	background-color: #6A45D9;
	color: white;
	padding: 20px 20px;
	display: block;
	width: 200px;
	font-family: "Roboto", sans-serif;
	margin: 15px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 20px;
	border: 2px solid #A487FF;
}

.buttontype1:hover{
	background-color: #442D8A;
	color: white;
}

a {
	font-family: "Roboto", sans-serif;
}




