body {
	background-color: #371E57;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 5px;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

.block {
	background-color: #F7F7F7;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 99%;
	margin-top: 1%;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 50px;
	
}

.buttontype1 {
	background-color: #6A45D9;
	color: white;
	padding: 20px 20px;
	display: block;
	width: 200px;
	font-family: "Roboto", sans-serif;
	margin: 15px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 20px;
	border: 2px solid #A487FF;
	text-align: center;
}

.buttontype2 {
	width: 120px;
	height: 20px;
}

.submitbutton {
	background-color: #6A45D9;
	color: white;
	padding: 20px 20px;
	display: block;
	font-family: "Roboto", sans-serif;
	margin: 15px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 16px;
	border: 2px solid #A487FF;
	text-align: center;
	width: 200px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.buttontype1:hover{
	background-color: #442D8A;
	color: white;
}

.submitbutton:hover{
	background-color: #442D8A;
	color: white;
}

.loginfield {
	display: block;
	padding-bottom: 10px;
}

.bigolblock{
	margin-top: 10px;
}


a {
	font-family: "Roboto", sans-serif;

}
.searchbar{
	text-align: center;
}

.error {
	color: red;
	font-family: 'Roboto', sans-serif;
}

.productlist {
	font-family: 'Roboto', sans-serif;
}

label {
	font-family: 'Roboto', sans-serif;
}

.center {
	text-align: center;
}

.item {
	margin: 20px;
	background-color: white;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	border-color: #6f4d7d;
	border-width: 2px;
	width: 80%;
}
